{% extends 'base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Create A Post</h1>
    <p class="lead">What's going on with you today?</p>
    <hr class="my-4">
    <a href="/" class="btn btn-primary btn-sm" role="button">Home</a>
  </div>
</div>

{% if not post %}
<div class='container'>
    <form action='' method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit Post">
    </form>
</div>
{% else %}
<div class='container'>
  <h2 style="text-align">Your secret code is ---> <a href="{% url 'postdetail' post.sec_key %}">{{ post.sec_key }}</a></h2>
  <p>Keep this in a safe place if you want to delete it. Otherwise, just head back on home and read more GhostPosts!</p>
  <a href="/" class="btn btn-primary btn-sm" role="button">Home</a>
</div>
{% endif %}
{% endblock  %}