{% extends 'base.html' %} {% block content %}
<div class="container">
  <hr class="my-4" />
  <h2 style="text-align: center; color: grey;">Latest Posts</h2>
  <hr class="my-4" />
</div>

<div class="list-group">
  <ul class="list-group">
    {% for post in posts %}
    <li class="list-group-item">
        {% if post.is_boast %}
        <span class="badge badge-pill badge-dark">Boast</span>
        {% else %}
        <span class="badge badge-pill badge-dark">Roast</span>
        {% endif %}

        <p style="font-weight: bold; align-items: end;">"{{ post.post }}"</p>
    

        <div class="container">
          <p style="font-weight: bold">Total Votes: {{ post.total_score }}</p>
          <a href='/upvote/{{ post.id }}'><button type="button" class="btn btn-success">Upvote</button></a>
          <a href='/downvote/{{ post.id }}'><button type="button" class="btn btn-danger">Downvote</button></a>
        </div>
        <p style="font-style: italic; text-align: right">{{ post.time_submitted }}</div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
